@page
@model FlyboMovie.Pages.Admin.MovieManageModel
@{
    ViewData["Title"] = "视频管理";
}

<form class="form-inline" method="get">
    <div class="form-group">
        <label for="movieName">视频名称:</label>
        <input type="text" class="form-control" id="movieName" asp-for="@Model.MovieName" />
        <input type="hidden" asp-for="@Model.PageIndex" value="1" />
        <input type="hidden" asp-for="@Model.PageSize" />
    </div>
    <button type="submit" class="btn btn-default">查询</button>
    <a class="btn btn-primary" style="margin-left:30px;" asp-page="/Admin/MovieUploader">上传视频</a>
</form>
<div>
    
    <table class="table table-hover table-bordered" style="margin-top:10px;">
        <thead>
            <tr>
                <th>视频编号</th>
                <th>视频名称</th>
                <th>上传时间</th>
                <th>试播时间/秒</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                var recordsCount = Model.Movies.Items == null ? 0 : Model.Movies.Items.Count;
                if (Model.Movies.Items == null || Model.Movies.Items.Count == 0)
                {
                    <tr>
                        <td colspan="5">无记录</td>
                    </tr>
                }
                else
                {
                    foreach (var movie in Model.Movies.Items)
                    {
                        <tr>
                            <td>@movie.MovieNumber</td>
                            <td>@movie.Name</td>
                            <td>@movie.RecordCreatedTime.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>@movie.TrySeconds</td>
                            <td>
                                <a name="modifyMovie" class="btn btn-primary btn-sm" asp-page="/Admin/MovieEdit" asp-route-id="@movie.Id">修改</a>
                                <button name="deleteMovie" data-movie-id="@movie.Id" class="btn btn-danger btn-sm">删除</button>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

    @{
        if (recordsCount > 0)
        {
            var pagesCount = (Model.Movies.TotalCount / Model.Movies.PageSize) + 1;
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @{
                        var isCurrentFirstPage = Model.PageIndex == 1;
                        var isCurrentLastPage = Model.PageIndex == pagesCount;
                        <li class="@(isCurrentFirstPage ? "disabled" : "")">
                            @{ if (isCurrentFirstPage)
                                {
                                    <span aria-hidden="true">&laquo;</span>
                                }
                                else
                                {
                                    <a asp-page="./MovieManage" asp-route-pageIndex="@(Model.PageIndex - 1)"
                                       asp-route-pageSize="@Model.PageSize" asp-route-movieName="@Model.MovieName" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                }
                            }
                        </li>
                        for (int cIndex = 1; cIndex <= pagesCount; cIndex++)
                        {
                            if (cIndex == Model.PageIndex)
                            {
                                <li class="active">
                                    <a asp-page="./MovieManage" asp-route-pageIndex="@cIndex"
                                       asp-route-pageSize="@Model.PageSize" asp-route-movieName="@Model.MovieName">@cIndex</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-page="./MovieManage" asp-route-pageIndex="@cIndex"
                                       asp-route-pageSize="@Model.PageSize" asp-route-movieName="@Model.MovieName">@cIndex</a>
                                </li>
                            }
                        }
                        <li class="@(isCurrentLastPage? "disabled":"")">
                            @{
                                if (isCurrentLastPage)
                                {
                                    <span aria-hidden="true">&raquo;</span>
                                }
                                else
                                {
                                    <a asp-page="./MovieManage" asp-route-pageIndex="@(Model.PageIndex + 1)"
                                       asp-route-pageSize="@Model.PageSize" asp-route-movieName="@Model.MovieName" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                }
                            }
                        </li>
                    }
                </ul>
            </nav>
            <span>共 @Model.Movies.TotalCount 条记录</span>
        }
    }
</div>

<script>
    $(document).ready(function () {
        $("button[name=deleteMovie]").click(function () {
            if (confirm("确认删除视频？")) {
                var currentBtn = $(this);
                var movieId = currentBtn.data("movie-id");
                $.get("./movieManage?handler=deleteMovie&movieId=" + movieId, function (movie) {
                    if (movie) {
                        currentBtn.parents("tr").remove();
                    }
                });
            }
        });
    })
</script>

